<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<% for (var i=0; i<articles.length; i++) { %>

		<a href="articles/<%= i %>">  
		<%= articles[i].headline %> </a><br>
		<% }; %> 
</body>
</html>