<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<form action="/articles" method="post">
		<input type="text" name="headline" placeholder="please enter headline"><br>
		<input type="text" name="textBody" placeholder="please enter text body"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>